services:
  mysql_db:
    container_name: mysql_db
    image: mysql:8.0
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: rootPassword
      MYSQL_DATABASE: decisions_database
      MYSQL_USER: user
      MYSQL_PASSWORD: pass