<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h1 th:text="${title}">Título</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <p th:if="${users==0}" class="alert alert-info">
            No se pueden crear personajes si no hay usuarios registrados.
        </p>
        <a  th:if="${users>0}" th:href="@{/}" class="btn btn-success mb-3">Crear</a>
        <a th:href="@{/}" class="btn btn-secondary mb-3">Volver al índice</a>
    </div>

    <p th:if="${characters.isEmpty()}" class="alert alert-info">
        No hay personajes registrados.
    </p>

    <table th:if="${!characters.isEmpty()}" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Última ubicación</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="character : ${characters}">
            <td th:text="${character.id}"></td>
            <td th:text="${character.userId.username}"></td>
            <td th:text="${character.name}"></td>
            <td th:text="${character.lastLocationId.name}"></td>
            <td>
                <a th:href="@{/}" class="btn btn-info  btn-sm">Detalles</a>
                <a th:href="@{/}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Seguro?')">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>