<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h1 th:text="${title}">Título</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <p th:if="${decisions.size()==0}" class="alert alert-info">
            No se pueden crear opciones si no hay decisiones a las que asociarselas.
        </p>
        <a  th:if="${decisions.size()>0}" th:href="@{/decisionOptions/new}" class="btn btn-success mb-3">Crear</a>
        <a th:href="@{/}" class="btn btn-secondary mb-3">Volver al índice</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Clave</th>
            <th>Opción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="decision_option : ${decision_options}">
            <td th:text="${decision_option.id}"></td>
            <td th:text="${decision_option.decision.key}"></td>
            <td th:text="${decision_option.key}"></td>
            <td>
                <a th:href="@{/decisionOptions/{id}(id=${decision_option.id})}" class="btn btn-info  btn-sm">Detalles</a>
                <a th:href="@{/decisionOptions/edit/{id}(id=${decision_option.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/decisionOptions/delete/{id}(id=${decision_option.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Seguro?')">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>